{% extends "rango/base.html" %}
{% load staticfiles %}

{% block title_block %}
  About
{% endblock %}

{% block body_block %}
  <p><strong>Visits: {{ visits }}</strong></p>
  <h1>Rango says here is the about page!</h1><br>
  <p>This text is for JQuery Example</p>
  <div id="msg">
    Hello - I'm here for JQuery Example too
  </div>
  <button class="btn btn-primary" onClick="alert('You clicked the button using javasScript.');">
    Click Me - I run JavaScript
  </button>
  <br>
  <img src="{% static 'images/ghost.jpg' %}" alt="Ghost"><br>
  <button class="btn btn-primary" id="about-btn">
    Click Me - I'm JavaScript on Speed
  </button>
  <br>
  <strong>This tutorial has been put together by <em>{{ name }}</em></strong><br>
  <img src="{{ MEDIA_URL }}cat.jpg" alt="Cat"><br>
{% endblock %}
